<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>RoBoT GeN</title>
    <link href="Content/bootstrap.css" rel="stylesheet">
    <link href="Content/Site.css" rel="stylesheet">
    <link href="Content/prylar.css" rel="stylesheet">
    <link href="Content/font-awesome.css" rel="stylesheet">
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/name_generator.js"></script>
    <script src="Scripts/NameSets/robot_set.js"></script>
    <script src="Scripts/NameSets/mittlandare_set.js"></script>
    <script src="App/app.js"></script>
    <script src="App/data-item.js"></script>
</head>
<body class="container-fluid" ng-app="robotgen">
    <div ng-controller="appController">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">MUTANT</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="link in Links">
                            <a href="{{link.path}}">{{link.name}}</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            <p class="computah">
                {{Version}}
            </p>
        </div>
    </div>
    <div ng-controller="prylarController" class="container">
        <h1>Prylar</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>Enkel och rolig förklarande text som beskriver vad man kan göra på sidan.</p>
            </div>
            <div class="col-xs-12 col-md-12">
                <h2 class="rbt-btn" ng-click="RollArtifacts('maskinarium')">Slumpa artefakt</h2>
            </div>
            <div class="col-xs-12 col-md-12">
                <!--<h2 class="rbt-btn" ng-click="GetRandomRobot()">Slumpa Robot</h2>-->
            </div>
            <div class="col-xs-12 col-md-12">
                VÄLJA SKROT ELLER ARTEFAKT SAMT BESTÄMMA PROCENT ARTEFAKTER MOT SKROT
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Källor</h2>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="source in Things.Sources">
                            <label for="{{source}}" class="checkbox-inline">
                                <input type="checkbox"
                                       id="{{source}}"
                                       name="ThingsSources[]"
                                       value="{{source}}"
                                       ng-checked="Things.SelectedSources.indexOf(source) > -1"
                                       ng-click="toggleSelection(source)"> {{source}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Typer</h2>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="type in Things.Types">
                            <label for="{{type}}" class="checkbox-inline">
                                <input type="checkbox"
                                       id="{{type}}"
                                       name="ThingsTypes[]"
                                       value="{{type}}"
                                       ng-checked="Things.SelectedTypes.indexOf(type) > -1"
                                       ng-click="toggleTypeSelection(type)"> {{type}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sheet">
            <div class="col-xs-12">
                <div class="modules row" ng-repeat="art in Things.RandomList">
                    <div class="col-xs-8">
                        <h3>¤ {{art.name}} ({{art.source}})</h3>
                        <p>
                            <strong>{{art.type}}</strong>
                        </p>
                        <p ng-if="art.description"><span ng-bind-html="art.description | trust"></span></p>
                        <p ng-if="art.effect">
                            <strong>Effekt</strong>: <span ng-bind-html="art.effect | trust"></span>
                        </p>
                        <p ng-if="art.unKrav">
                            <strong>UN-krav</strong>: {{art.unKrav}}
                        </p>
                        <p ng-if="art.unBonus">
                            <strong>UN-bonus</strong>: {{art.unBonus}}
                        </p>
                        <p ng-if="art.special">
                            <strong>Special</strong>: {{art.special}}
                        </p>
                    </div>
                    <div ng-if="art.image" class="col-xs-4">
                        <img src="{{art.image}}" alt="Artefaktens bild" />
                    </div>
                </div>
            </div>
        </div>
        <!--

            KOD FÖR ATT SKAPA KORT FÖR PRINT!!!

        
            <div class="row sheet">
            <div class="col-xs-12">
                <div class="magic" ng-repeat="art in Things.RandomList">

                    <h3>{{art.name}} ({{art.source}})</h3>
                    <img src="{{art.image}}" alt="Artefaktens bild"/>
                    <p>
                        <strong>{{art.type}}</strong>
                    </p>
                    <div class="magic-desc">
                        <p ng-if="art.description">{{art.description}}</p>
                        <p ng-if="art.effect">
                            <strong>Effekt</strong>: <span ng-bind-html="art.effect | trust"></span>
                        </p>
                        <p ng-if="art.unKrav">
                            <strong>UN-krav</strong>: {{art.unKrav}}
                        </p>
                        <p ng-if="art.unBonus">
                            <strong>UN-bonus</strong>: {{art.unBonus}}
                        </p>
                        <p ng-if="art.special">
                            <strong>Special</strong>: {{art.special}}
                        </p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row sheet">
            <div class="col-xs-12">
                <h4>Slå 1T6 för att avgöra dess skick:</h4>
                <ol>
                    <li>Vid första anblick kan den verka ok, men i själva verket är den troligen rent av farlig.</li>
                    <li>Uruselt skick. Håller knappt ihop, sönderrostad, tom burk eller liknande.</li>
                    <li>Dålig skick. Går nog att använda men risken är nog överhängande att den går sönder, smakar konstigt eller tar helt slut.</li>
                    <li>Ok skick. Välanvänd men funktionsduglig ännu. Har objektet någon typ av innehåll, så finns nog ca hälften kvar.</li>
                    <li>Bra skick. Prima vara, och även om eventuella bäst-före datum gått ut, så är den nog helt ok att använda, dricka eller så. Stor del av innehållet finns kvar.</li>
                    <li>Perfekt nyskick, kanske t o m helt oöppnad och fortfarande inplastad. Ovanligt välbevarad under omständigheterna.</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>