@font-face {
    font-family: 'bilibinregular';
    src: url('Fonts/bilibin-webfont.woff2') format('woff2'),
         url('Fonts/bilibin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Asul-Regular';
  src: url('Fonts/Asul-Regular.eot');
  src: url('Fonts/Asul-Regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/Asul-Regular.woff') format('woff'),
       url('Fonts/Asul-Regular.ttf') format('truetype'),
       url('Fonts/Asul-Regular.svg#Asul-Regular') format('svg');
}

@font-face {
  font-family: 'Asul-Bold';
  src: url('Fonts/Asul-Bold.eot');
  src: url('Fonts/Asul-Bold.eot?#iefix') format('embedded-opentype'),
       url('Fonts/Asul-Bold.woff') format('woff'),
       url('Fonts/Asul-Bold.ttf') format('truetype'),
       url('Fonts/Asul-Bold.svg#Asul-Bold') format('svg');
}

html
{
    font-size: 100% !important;
}

body
{
    background-color: #24282d;
    background-image: url("Images/mittland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    font-family: 'Asul-Regular';
    font-size: 100% !important;
    line-height: 1.25;
}

button, table
{
    font-family: "Asul-Regular";
}

ul.stats > li
{
    font-family: "Asul-Regular";
}

ul.stats
{
    list-style: none;
    padding-left: 0;
}

.container-fluid
{
    padding: 0 !important;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea
{
    max-width: 280px;
}


h1
{
    font-family: "bilibinregular";
    font-size: 4rem;
    text-transform: uppercase;
    margin-left: -2.5rem;
}

h2
{
    font-family: "Cabin";
    font-size: 4rem;
    font-weight: normal;
    margin-top: -1.5rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
}

h3
{
    font-family: "Asul-Bold";
    font-size: 1.5rem;
    font-weight: bold;
}

h4
{
    border-bottom: 0.0625rem solid #fefefe;
    border-top: 0.0625rem solid #fefefe;
    font-family: "Asul-Regular";
    font-weight: bold;
    margin-top: 2rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    
}
.frontpage
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
}
.frontpage div
{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frontpage div p
{
    margin-top: 2rem;
    font-size: 2rem;
}


.outlined h1,.outlined h2,.outlined p
{
    text-align: center;
    text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000;
    -webkit-font-smoothing: antialiased;
  
  
}
.robot-visuals
{
    position: relative;
}

.part
{
    position: absolute;
}

.part-head
{
    z-index: 4;
}

.part-torso
{
    z-index: 3;
}

.part-image
{
    position: relative;
    width: 100%;
}

.part-image > div
{
    padding: 0;
}

.part-image img
{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    min-height: 185px;
}

.part-image > .navigation
{
    bottom: 50%;
    cursor: pointer;
    font-size: 3rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 15%;
    z-index: 5;
}

.part-image > .navigation:hover
{
    background-color: #fefefe;
    color: #24282d;
}

.navigation.right
{
    left: auto;
    right: 0;
}

.navigation span
{
    margin-left: -1.5rem;
    margin-top: -2.125rem;
    position: absolute;
    top: 50%;
}

.col-xs-2.col-md-4
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.rbt-btn
{
    border: 0.25rem solid #fefefe;
    cursor: pointer;
    padding: 0.25rem;
    text-align: center;
    font-family: bignoodletitlingregular;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}

.rbt-btn:hover
{
    background-color: #fefefe;
    color: #24282d;
}

.sheet
{
    margin-top: 1rem;
}

.skill
{
    font-family: "FuturaStd-Book";
    letter-spacing: 0.05rem;
    font-weight: bold;
    -webkit-font-variant: all-small-caps;
    -moz-font-variant: all-small-caps;
    -ms-font-variant: all-small-caps;
    -o-font-variant: all-small-caps;
    font-variant: all-small-caps;
}

.table.skill
{
    font-size: 1rem;
    font-weight: normal;
}

.reference, .ref
{
    font-style: italic;

}

.symbol
{
    font-family: "workingsignstfb-Regular";
    font-size: 1.2rem;
}

.modules ul
{
    list-style: none;
}

.modules ul li:before
{
    content: '\00a4';
    font-weight: bold;
    left: 0;
    margin: 0 -2rem; /* any design */
    position: absolute;
}

.modules ul li
{
    overflow: visible;
    padding-left: 0;
    position: relative;
}