@font-face {
    font-family: 'bilibinregular';
    src: url('Fonts/bilibin-webfont.woff2') format('woff2'),
         url('Fonts/bilibin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Asul';
  font-weight: 400;
  font-style: normal;
  src: url('Fonts/Asul-regular/Asul-regular.eot');
  src: url('Fonts/Asul-regular/Asul-regular.eot?#iefix') format('embedded-opentype'),
       local('Asul'),
       local('Asul-regular'),
       url('Fonts/Asul-regular/Asul-regular.woff2') format('woff2'),
       url('Fonts/Asul-regular/Asul-regular.woff') format('woff'),
       url('Fonts/Asul-regular/Asul-regular.ttf') format('truetype'),
       url('Fonts/Asul-regular/Asul-regular.svg#Asul') format('svg');
}

@font-face {
  font-family: 'Asul';
  font-weight: 700;
  font-style: normal;
  src: url('Fonts/Asul-700/Asul-700.eot');
  src: url('Fonts/Asul-700/Asul-700.eot?#iefix') format('embedded-opentype'),
       local('Asul Bold'),
       local('Asul-700'),
       url('Fonts/Asul-700/Asul-700.woff2') format('woff2'),
       url('Fonts/Asul-700/Asul-700.woff') format('woff'),
       url('Fonts/Asul-700/Asul-700.ttf') format('truetype'),
       url('Fonts/Asul-700/Asul-700.svg#Asul') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: normal;
  src: url('Fonts/Cabin-regular/Cabin-regular.eot');
  src: url('Fonts/Cabin-regular/Cabin-regular.eot?#iefix') format('embedded-opentype'),
       local('Cabin Regular'),
       local('Cabin-regular'),
       url('Fonts/Cabin-regular/Cabin-regular.woff2') format('woff2'),
       url('Fonts/Cabin-regular/Cabin-regular.woff') format('woff'),
       url('Fonts/Cabin-regular/Cabin-regular.ttf') format('truetype'),
       url('Fonts/Cabin-regular/Cabin-regular.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 700;
  font-style: normal;
  src: url('Fonts/Cabin-700/Cabin-700.eot');
  src: url('Fonts/Cabin-700/Cabin-700.eot?#iefix') format('embedded-opentype'),
       local('Cabin Bold'),
       local('Cabin-700'),
       url('Fonts/Cabin-700/Cabin-700.woff2') format('woff2'),
       url('Fonts/Cabin-700/Cabin-700.woff') format('woff'),
       url('Fonts/Cabin-700/Cabin-700.ttf') format('truetype'),
       url('Fonts/Cabin-700/Cabin-700.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: italic;
  src: url('Fonts/Cabin-italic/Cabin-italic.eot');
  src: url('Fonts/Cabin-italic/Cabin-italic.eot?#iefix') format('embedded-opentype'),
       local('Cabin Italic'),
       local('Cabin-italic'),
       url('Fonts/Cabin-italic/Cabin-italic.woff2') format('woff2'),
       url('Fonts/Cabin-italic/Cabin-italic.woff') format('woff'),
       url('Fonts/Cabin-italic/Cabin-italic.ttf') format('truetype'),
       url('Fonts/Cabin-italic/Cabin-italic.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 700;
  font-style: italic;
  src: url('Fonts/Cabin-700italic/Cabin-700italic.eot');
  src: url('Fonts/Cabin-700italic/Cabin-700italic.eot?#iefix') format('embedded-opentype'),
       local('Cabin Bold Italic'),
       local('Cabin-700italic'),
       url('Fonts/Cabin-700italic/Cabin-700italic.woff2') format('woff2'),
       url('Fonts/Cabin-700italic/Cabin-700italic.woff') format('woff'),
       url('Fonts/Cabin-700italic/Cabin-700italic.ttf') format('truetype'),
       url('Fonts/Cabin-700italic/Cabin-700italic.svg#Cabin') format('svg');
}

html,body
{
    height: 100%;
}
html
{
    font-size: 100% !important;
}

body
{
    background-color: #24282d;
    background-image: url("Images/bg_urkult_sunset.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: #24282d;
    font-family: 'Cabin';
    font-size: 100% !important;
    line-height: 1.25;
}

button, table
{
    font-family: "Asul";
}

ul.stats > li
{
    font-family: "Asul";
}

ul.stats
{
    list-style: none;
    padding-left: 0;
}

.container-fluid
{
    padding: 0 !important;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea
{
    max-width: 280px;
}

h1
{
    font-family: "bilibinregular";
    font-size: 300%;
    text-transform: uppercase;
    color: #9f4234;
    text-align: center;
}
.frontpage h1
{
    margin-left: -2.5rem;
    text-align: center;
}

.frontpage h2
{
    text-align: center;
    margin-top: -1.5rem;
    letter-spacing: 2rem;
    font-size: 200%;
}

h2
{
    color: #57563c;
    font-family: "Asul";
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

h3
{
    font-family: "Cabin";
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: all-small-caps;
}

h4
{
    border-bottom: 0.0625rem solid #fefefe;
    border-top: 0.0625rem solid #fefefe;
    font-family: "Asul";
    font-weight: bold;
    margin-top: 2rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    
}
.frontpage
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
}
.frontpage div
{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frontpage div p
{
    margin-top: 2rem;
    font-size: 2rem;
}

.outlined h1, .outlined h2,.outlined p
{
    color: #fefefe;
    text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000;
    -webkit-font-smoothing: antialiased;
}

.frontpage p.small
{
    font-size: 0.75rem;
    text-align: left!important;
}
.container-app
{

}

.container-content
{
    background-color: #faf7f4;
    min-height: calc(100% - 52px);
    height: auto;
}

.masthead
{

}

.navbar
{
    margin-bottom: 0;
    -webkit-box-shadow:0.5rem 0 1rem #24282d;
    -ms-box-shadow:0.5rem 0 1rem #24282d;
    box-shadow:0.5rem 0 1rem #24282d;
    -ms-border-radius: 0;
    border-radius: 0;
}

.trudvang-teaser
{
    color: #818fa1!important;
    color: #b8cbe3!important;
}
.button-trudvang-group
{
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.button-trudvang
{
    display: block;
    flex-grow: 1;
    text-align: center;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: #9f4234;
    color: #fefefe;
    border: 0.125rem solid #712f25;
    -ms-border-radius: 0.25rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: "Cabin";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button-trudvang:hover
{
    background-color: #712f25;
}
.button-trudvang:active
{
    background-color: #ae4939;
    border: 0.125rem solid #ae4939;
}

.names h3
{
    text-align: center;
}

.names p
{
    font-family: "Cabin";
    font-size: 1rem;
    text-align: center;
}

.filler
{
    height: 4rem;
}