<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Trudvang Helper</title>
    <link href="Content/bootstrap.css" rel="stylesheet">
    <link href="Content/Site.css" rel="stylesheet">
    <link href="Content/font-awesome.css" rel="stylesheet">
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-translate.js" type="text/javascript"></script>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/data-namegen.js"></script>
</head>
<body class="container-fluid container-app" ng-app="trudvangHelper">
    <div class="masthead" ng-controller="appController">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">TRUDVANG</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="link in Links">
                            <a href="{{link.path}}">{{link.name}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'changeLanguage'|translate}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="changeLanguage('en')" href="#">English</a></li>
                                <li><a ng-click="changeLanguage('sv')" href="#">Swedish</a></li>
                                <li><a ng-click="changeLanguage('es')" href="#">Spanish</a></li>
                                <li><a ng-click="changeLanguage('fr')" href="#">French</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
</div>
        <div ng-controller="nameController" class="container container-content">
            <div class="row">
                <div class="col-xs-12 trudvang-header">
                    <h1>{{'namegen.title' | translate}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{'namegen.description' | translate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2>{{'namegen.people.title'|translate}}</h2>
                    <div class="button-trudvang-group">
                        <p class="button-trudvang" ng-click="GenerateName('Stormlander')">{{'namegen.people.stormlander.button' | translate}}</p>
                        <p class="button-trudvang" ng-click="GenerateName('Mittlander')">{{'namegen.people.mittlander.button' | translate}}</p>
                        <p class="button-trudvang" ng-click="GenerateName('Virann')">{{'namegen.people.virann.button' | translate}}</p>
                        <p class="button-trudvang" ng-click="GenerateName('Elf')">{{'namegen.people.elf.button' | translate}}</p>
                        <p class="button-trudvang" ng-click="GenerateName('Dwarf')">{{'namegen.people.dwarf.button' | translate}}</p>
                        <p class="button-trudvang" ng-click="GenerateName('Troll')">{{'namegen.people.troll.button' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row names clearfix">
                <div class="col-xs-12 col-md-6" ng-if="Names.male">
                    <h3 ng-if="SelectedPeopleName ==='Stormlander'">{{'namegen.people.stormlander.title'|translate}}{{'namegen.people.maleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Mittlander'">{{'namegen.people.mittlander.title'|translate}}{{'namegen.people.maleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Virann'">{{'namegen.people.virann.title'|translate}}{{'namegen.people.maleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Elf'">{{'namegen.people.elf.title'|translate}}{{'namegen.people.maleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Dwarf'">{{'namegen.people.dwarf.title'|translate}}{{'namegen.people.maleNameString'|translate}}</h3>
                    <p ng-repeat="name in Names.male track by $index">{{name}}</p>
                </div>
                <div class="col-xs-12 col-md-6" ng-if="Names.female">
                    <h3 ng-if="SelectedPeopleName ==='Stormlander'">{{'namegen.people.stormlander.title'|translate}}{{'namegen.people.femaleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Mittlander'">{{'namegen.people.mittlander.title'|translate}}{{'namegen.people.femaleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Virann'">{{'namegen.people.virann.title'|translate}}{{'namegen.people.femaleNameString'|translate}}</h3>
                    <h3 ng-if="SelectedPeopleName ==='Elf'">{{'namegen.people.elf.title'|translate}}{{'namegen.people.femaleNameString'|translate}}</h3>
                    <p ng-repeat="name in Names.female track by $index">{{name}}</p>
                </div>
                <div class="col-xs-12 col-md-6" ng-if="Names.troll">
                    <h3 ng-if="SelectedPeopleName ==='Troll'">{{'namegen.people.troll.title'|translate}}{{'namegen.people.trollNameString'|translate}}</h3>
                    <p ng-repeat="name in Names.troll track by $index">{{name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12"></div>
                <div class="col-xs-12 col-md-12">
                    <h2 class="">{{'namegen.place.title'|translate}}</h2>
                    <div class="button-trudvang-group">
                        <p class="button-trudvang" ng-click="GeneratePlaceName('Town')">{{'namegen.place.town'|translate}}</p>
                        <p class="button-trudvang" ng-click="GeneratePlaceName('Tavern')">{{'namegen.place.tavern'|translate}}</p>
                        <p class="button-trudvang" ng-click="GeneratePlaceName('Plant')">{{'namegen.place.plant'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row names clearfix">
                <div class="col-xs-12 col-md-4" ng-show="PlaceNames.Town">
                    <h3>{{'namegen.place.town'|translate}}{{'namegen.place.nameString'|translate}}</h3>
                    <p ng-repeat="name in PlaceNames.Town track by $index">{{name}}</p>
                </div>
                <div class="col-xs-12 col-md-4" ng-show="PlaceNames.Tavern">
                    <h3>{{'namegen.place.tavern'|translate}}{{'namegen.place.nameString'|translate}}</h3>
                    <p ng-repeat="name in PlaceNames.Tavern track by $index">{{name}}</p>
                </div>
                <div class="col-xs-12 col-md-4" ng-show="PlaceNames.Plant">
                    <h3>{{'namegen.place.plant'|translate}}{{'namegen.place.nameString'|translate}}</h3>
                    <p ng-repeat="name in PlaceNames.Plant track by $index">{{name}}</p>
                </div>
            </div>
            <div class="row names clearfix">
                <div class="col-xs-12 filler">

                </div>
            </div>
        </div>
</body>
</html>