<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Trudvang Helper</title>
    <link href="Content/bootstrap.css" rel="stylesheet">
    <link href="Content/Site.css" rel="stylesheet">
    <link href="Content/font-awesome.css" rel="stylesheet">
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="Scripts/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="Scripts/angular-translate.js" type="text/javascript"></script>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/data-namegen.js"></script>
</head>
<body class="container-fluid container-app" ng-app="trudvangHelper">
    <div class="masthead" ng-controller="appController">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">TRUDVANG</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="link in Links">
                            <a href="{{link.path}}">{{link.name}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'changeLanguage'|translate}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="changeLanguage('en')" href="#">English</a></li>
                                <li><a ng-click="changeLanguage('sv')" href="#">Swedish</a></li>
                                <li><a ng-click="changeLanguage('es')" href="#">Spanish</a></li>
                                <li><a ng-click="changeLanguage('fr')" href="#">French</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div ng-controller="nameController" class="container container-content">
        <div class="row">
            <div class="col-xs-12 trudvang-header">
                <h1>{{'thingnamegen.title' | translate}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p ng-bind-html="'thingnamegen.description' | translate | trust"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12"></div>
            <div class="col-xs-12 col-md-12">
                <h2 class="">{{'thingnamegen.items.title'|translate}}</h2>
                <div class="button-trudvang-group">
                    <p class="button-trudvang" ng-click="GenerateThingName('Weapon')">{{'thingnamegen.items.weapon'|translate}}</p>
                    <p class="button-trudvang" ng-click="GenerateThingName('Relic')">{{'thingnamegen.items.relic'|translate}}</p>
                    <p class="button-trudvang" ng-click="GenerateThingName('Ship')">{{'thingnamegen.items.ship'|translate}}</p>
                </div>
            </div>
        </div>
        <div class="row names clearfix">
            <div class="col-xs-12 col-md-4 namelist" ng-show="ThingNames.Weapon">
                <h3>{{'thingnamegen.items.weapon'|translate}}{{'thingnamegen.nameString'|translate}}</h3>
                <p ng-repeat="name in ThingNames.Weapon track by $index">{{name}}</p>
            </div>
            <div class="col-xs-12 col-md-4 namelist" ng-show="ThingNames.Relic">
                <h3>{{'thingnamegen.items.relic'|translate}}{{'thingnamegen.nameString'|translate}}</h3>
                <p ng-repeat="name in ThingNames.Relic track by $index">{{name}}</p>
            </div>
            <div class="col-xs-12 col-md-4 namelist" ng-show="ThingNames.Ship">
                <h3>{{'thingnamegen.items.ship'|translate}}{{'thingnamegen.nameString'|translate}}</h3>
                <p ng-repeat="name in ThingNames.Ship track by $index">{{name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12"></div>
            <div class="col-xs-12 col-md-12">
                <h2 class="">{{'thingnamegen.misc.title'|translate}}</h2>
                <div class="button-trudvang-group">
                    <p class="button-trudvang" ng-click="GenerateThingName('Plant')">{{'thingnamegen.misc.plant'|translate}}</p>
                    <p class="button-trudvang" ng-click="GenerateThingName('Ale')">{{'thingnamegen.misc.ale'|translate}}</p>
                    <p class="button-trudvang" ng-click="GenerateThingName('Horse')">{{'thingnamegen.misc.horse'|translate}}</p>
                </div>
            </div>
        </div>
        <div class="row names clearfix">
            <div class="col-xs-12 col-md-4 namelist" ng-show="ThingNames.Plant">
                <h3>{{'thingnamegen.misc.plant'|translate}}{{'thingnamegen.nameString'|translate}}</h3>
                <p ng-repeat="name in ThingNames.Plant track by $index">{{name}}</p>
            </div>
            <div class="col-xs-12 col-md-4 namelist" ng-show="ThingNames.Ale">
                <h3>{{'thingnamegen.misc.ale'|translate}}{{'thingnamegen.nameString'|translate}}</h3>
                <p ng-repeat="name in ThingNames.Ale track by $index">{{name}}</p>
            </div>
            <div class="col-xs-12 col-md-4 namelist" ng-show="ThingNames.Horse">
                <h3>{{'thingnamegen.misc.horse'|translate}}{{'thingnamegen.nameString'|translate}}</h3>
                <p ng-repeat="name in ThingNames.Horse track by $index">{{name}}</p>
            </div>
        </div>
        <div class="row names clearfix">
            <div class="col-xs-12 filler">

            </div>
        </div>
    </div>
</body>
</html>